$color_1: white;
$color_2: black;
$font-family_1: "Roboto", sans-serif;
$font-family_2: "Shrikhand";
$background-color_1: #eaeaea;
$background-color_2: #f6f6f6;
$background-color_3: white;
$background-color_4: #353535;
$background-color_5: #FF79DA;
$background-color_6: #9356DC;

body {
	margin: 0;
	font-family: $font-family_1;
}
.logoone {
	padding-top: 20px;
	display: flex;
	margin: auto;
}

.titre-restaurant {
    background-color: $background-color_2;
    margin-bottom: -0px;
    padding-bottom: 20px;
    padding-top: 60px;
    font-size: 30px;
    padding-left: 25px;
}

header {
	i {
		font-size: 25px;
		margin-top: 20px;
		margin-left: 20px;
	}
	img {
		width: 40%;
		margin-top: -30px;
		padding-bottom: 10px;
	}
}
input {
	width: 40%;
	margin: auto;
	display: flex;
	border-width: 0;
	padding: 15px;
	background-color: $background-color_1;
}
.input-icone {
	box-shadow: 0px 8px 10px -10px gray;
	padding-top: 8px;
	background-color: $background-color_1;
}
.discovery {
	background-color: $background-color_2;
	padding-top: 20px;
	padding-bottom: 40px;
	h2 {
		margin-left: 60px;
		margin-right: 60px;
		text-align: center;
		font-weight: 700;
		font-size: 34px;
	}
	p {
		text-align: center;
		margin-left: 30px;
		margin-right: 30px;
		margin-top: -10px;
		font-weight: 100;
		font-size: 24px;
	}
	button {
		display: flex;
		margin: auto;
		border-style: none;
		background: linear-gradient(#FF79DA, #9356DC);
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 22px;
		padding-bottom: 22px;
		color: $color_1;
		box-shadow: 0px 15px 15px -14px gray;
		border-radius: 35px;
		font-size: 23px;
		margin-top: 40px;
		&:hover {
			background: linear-gradient(#F497E2, #AD7ADD);
			box-shadow: 0px 15px 25px -14px #515151;
		}
	}
}
.function {
	h2 {
		padding-left: 25px;
		padding-top: 30px;
		font-size: 30px;
	}
}
.functionbutton {
	background-color: $background-color_3;
	margin: 20px;
	border-radius: 20px;
	padding-left: 22px;
	box-shadow: 0px 0px 20px 0px #eaeaea;

    .number {
        background-color: #9356DC;
        position: absolute;
        border-radius: 100%;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 3px;
        padding-bottom: 3px;
        color: white;
        font-size: 13px;
    }
}
.restaurants {
	background-color: $background-color_2;
	padding-bottom: 40px;
	display: flex;
	flex-direction: column;
	h2 {
		padding-left: 25px;
		padding-top: 40px;
		font-size: 35px;
	}
	img {
		border-top-right-radius: 30px;
		border-top-left-radius: 30px;
		margin: auto;
		display: flex;
		max-height: 240px;
		-o-object-fit: cover;
		object-fit: cover;
		width: 100%;
	}
}
.restaurants-card {
	background-color: $background-color_3;
	width: 90%;
	display: flex;
	margin: auto;
	flex-direction: column;
	border-radius: 20px;
	margin-bottom: 25px;
	img {
		-o-object-fit: cover;
		object-fit: cover;
		height: 500px;
	}
	h3 {
		padding-left: 10px;
		font-size: 25px;
	}
	p {
		padding-left: 10px;
		font-size: 25px;
		font-weight: 300;
		margin-top: -25px;
	}
	i {
		display: flex;
		justify-content: flex-end;
		font-size: 28px;
		margin-top: -20px;
		margin-right: 30px;
	}
	a {
		text-decoration: none;
		color: $color_2;
	}
    .new {
        background-color: #99E2D0;
        color: #008766;
        position: absolute;
        font-size: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 2px;
        font-weight: 400;
    }

}

hr {
    height: 4px;
    background-color: #99E2D0;
    border: 0;
    width: 55px;
    margin-left: 15px;
    margin-top: -15px;
}

.menu {
	background-color: $background-color_2;
	border-top-right-radius: 40px;
	border-top-left-radius: 40px;
	padding-bottom: 60px;
	position: relative;
	margin-top: -90px;
	h2 {
		font-family: $font-family_2;
		font-size: 35px;
		font-weight: 100;
		padding-left: 20px;
		padding-top: 40px;
	}
	button {
		display: flex;
		margin: auto;
		margin-top: 60px;
		border-style: none;
		background: linear-gradient(#FF79DA, #9356DC);
		padding-left: 60px;
		padding-right: 60px;
		padding-bottom: 20px;
		padding-top: 20px;
		font-size: 23px;
		color: $color_1;
		box-shadow: 0px 15px 15px -14px gray;
		border-radius: 35px;
		&:hover {
			background: linear-gradient(#F497E2, #AD7ADD);
			box-shadow: 0px 15px 25px -14px #515151;
		}
	}
}
#heartmenu {
	font-size: 35px;
    margin-left: 30px;
    margin-top: 10px;
}
.logo {
	width: 45%;
	display: flex;
	margin: auto;
	margin-top: -30px;
}
.menu-img {
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	height: 350px;
}
.title-menu {
	font-weight: 200px;
	padding-left: 15px;
	padding-top: 25px;
    font-size: 22px;
}
.text-menu {
	background-color: $background-color_3;
	margin: 20px;
	border-radius: 20px;
	padding-left: 22px;
	box-shadow: 0px 0px 20px 0px #eaeaea;
	h3 {
		font-size: 23px;
		font-weight: 500;
		padding-top: 18px;
	}
	p {
		font-size: 19px;
		font-weight: 300;
		padding-bottom: 18px;
		margin-top: -18px;
	}
    .prix {
        margin-top: -60px;
        float: right;
        margin-right: 25px;
        font-weight: 500;
    }
}
footer {
	background-color: $background-color_4;
	color: $color_1;
	padding-left: 20px;
	padding-bottom: 8px;
	i {
		margin-right: 12px;
        color: white;
	}
	img {
		width: 22%;
		padding-top: 35px;
		padding-bottom: 10px;
	}
	a {
		text-decoration: none;
		color: $color_1;
	}
}
@media only screen and (min-width: 1024px) {
	header {
		i {
			margin-top: 40px;
		}
		img {
			width: 25%;
			margin-top: -40px;
			padding-bottom: 20px;
		}
	}
	.restaurants {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: repeat(2, 550px);
		h2 {
			background-color: $background-color_5;
		}
	}
	.restaurants-card {
		background-color: $background-color_6;
	}
	.menu {
		margin-left: 200px;
		margin-right: 200px;

        h2 {
            text-align: center;
        }
	}
	.logo {
		width: 20%;
	}
	.menu-img {
		height: 400px;
	}

}
