body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #FFFFFF;
}

header img {
    width: 55%;
    margin: auto;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

input {
    width: 40%;
    margin: auto;
    display: flex;
    border-width: 0;
    padding: 15px;
    background-color: #eaeaea;
}

.input-icone {
    box-shadow: 0px 8px 10px -10px gray;
    padding-top: 8px;
    background-color: #eaeaea;
}

/*h1 {
    font-family: 'Shrikhand', cursive;
}*/

/***** Discovery *****/

.discovery {
    background-color: #f6f6f6;
    padding-top: 20px;
    padding-bottom: 40px;
}

.discovery h2 {
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
}

.discovery p {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -10px;
    font-weight: 100;
    font-size: 26px;
}

.discovery button {
    display: flex;
    margin: auto;
    border-style: none;
    background: linear-gradient(#FF79DA, #9356DC);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 22px;
    padding-bottom: 22px;
    color: #FFFFFF;
    box-shadow: 0px 15px 15px -14px gray;
    border-radius: 35px;
    font-size: 23px;
    margin-top: 40px;
}


/***** Function *****/

.function h2 {
    padding-left: 25px;
    padding-top: 30px;
    font-size: 33px;
}

.functionbutton {
    background-color: #9356DC;
    
}

/***** Restaurants *****/
.restaurants {
    background-color: #f6f6f6;
    padding-bottom: 40px;
}

.restaurants h2 {
    padding-left: 25px;
    padding-top: 40px;
    font-size: 35px;
}


.restaurants img{
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    margin: auto;
    display: flex;
    max-height: 160px;
    object-fit: cover;
    width: 100%
}

.restaurants-card {
    background-color: #FFFFFF;
    width: 90%;
    display: flex;
    margin: auto;
    flex-direction: column;
    border-radius: 30px;
    margin-bottom: 20px;
}

.restaurants-card h3 {
    padding-left: 10px;
    font-size: 25px;
}

.restaurants-card p {
    padding-left: 10px;
    font-size: 25px;
    font-weight: 300;
}

.restaurants-card i {
    display: flex;
    justify-content: end;
    padding-right: 10px;
    font-size: 25px;
    width: 10%;
}

.restaurants-card a {
    text-decoration: none;
    color: black;
}

#heart {
    background-color: #9356DC;
    display: flex;
    justify-content: flex-end;
}

/***** Menus *****/

.menu {
    background-color: #f6f6f6;
    border-radius: 40px;
    padding-bottom: 60px;
}

.menu h2 {
    font-family: 'Shrikhand';
    font-size: 40px;
    font-weight: 100;
    padding-left: 20px;
    padding-top: 40px;
}

#heartmenu {
    font-size: 30px;
}

img {
    width: 100%;
    display: flex;
    margin: auto;
}

.title-menu {
    font-weight: 300;
    padding-left: 15px;
    padding-top: 25px;
}

.text-menu {
    background-color: #FFFFFF;
    margin: 20px;
    border-radius: 20px;
    padding-left: 22px;
    box-shadow: 0px 0px 20px 0px #eaeaea;
}

.text-menu h3 {
    font-size: 25px;
    font-weight: 500;
    padding-top: 18px;
}

.text-menu p {
    font-size: 21px;
    font-weight: 300;
    padding-bottom: 18px;
    margin-top: -18px;
}

.menu button {
    display: flex;
    margin: auto;
    margin-top: 60px;
    border-style: none;
    background: linear-gradient(#FF79DA, #9356DC);
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 23px;
    color: #FFFFFF;
    box-shadow: 0px 15px 15px -14px gray;
    border-radius: 35px;
}

/****** Footer ******/

footer {
    background-color: #353535;
    color: white;
}
